<footer>
    <div class="footerContactPannel">
        <a href="mailto:hello@studiosecondemaille.com">
            <span> Contact: </span>
            <span class="footerContactMail">
                hello@studiosecondemaille.com
            </span>
        </a>
    </div>
    <ul class="footerNav sectionSecondary">
        <li><a href="/products">Shop</a></li>
        <li><a href="/workshops">Workshops</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/conditions">Terms & Conditions</a></li>
    </ul>
</footer>
