<section class="section hero grid">
    <div class="heroPlaceholder">
        <img src="./images/heroImg.png" />
    </div>
    <div class="heroPanel">
        <div>
            <div class="heroPanelStart">
                <h1>seconde</h1>
            </div>
            <div class="heroPanelEnd">
                <h1>maille</h1>
            </div>
        </div>
        <div>
            <div class="heroPanelStart">
                <h1>knits</h1>
            </div>
            <div class="heroPanelCenter">
                <h1>upcycled</h1>
            </div>
        </div>
        <div>
            <div class="heroPanelEnd">
                <h1>deadstock</h1>
            </div>
            <div class="heroPanelStart">
                <h1>yarns.</h1>
            </div>
        </div>
    </div>
</section>
