<section class="section hero grid">
  <div class="heroPlaceholder borderPanelLeft borderTop">
    <img src="./images/heroImg.png" />
  </div>
  <div class="heroPanel borderPanelRight borderTop">
    <div class="heroFirstPanel">
      <div class="heroPanelStart">
        <h1 class="heroFirstItem">seconde</h1>
      </div>
      <div class="heroPanelEnd">
        <h1 class="heroSecondItem">maille</h1>
      </div>
    </div>
    <div class="heroSecondPanel">
      <div class="heroPanelStart">
        <h1 class="heroThirdItem">knits</h1>
      </div>
      <div class="heroPanelCenter">
        <h1 class="heroFourthItem">upcycled</h1>
      </div>
    </div>
    <div class="heroThirdPanel">
      <div class="heroPanelEnd">
        <h1 class="heroFifthItem">deadstock</h1>
      </div>
      <div class="heroPanelStart">
        <h1 class="heroSixthItem">yarns.</h1>
      </div>
    </div>
  </div>
</section>
