<section class="section {{ background }}">
  {% include 'section-title' title: 'Workshops' action: 'Learn more' link:
  '/workshops' background: '{{ background }}' %}
  <div class="grid">
    <div class="workshopPlaceholder">
      <div class="boxBorder"></div>
      <img src="./images/workshop.jpg" />
    </div>
    <div class="workshopPanel boxBorder">
      <div class="workshopPanelContent">
        <div>
          <p class="textLarge">
            Introductory workshop to 80’s Brother knitting machines :
          </p>
          <p class="textLarge">
            Learn the basics while manufacturing a scarf knitted with the
            color(s) of your choice.
          </p>
        </div>
      </div>
      <div class="workshopTabContainer">
        <!-- TAB -->
        {% include 'tab' text: 'Open to beginner starting 15 years old' %}
        <!-- TAB -->
        {% include 'tab' text: 'Maximum capacity: 1-2 people' %}
        <!-- TAB -->
        {% include 'tab' text: 'Duration: 2h / 4h' %}
        <!-- BUTTON -->
        {% include 'button-workshop' %}
      </div>
    </div>
  </div>
</section>
