<section class="section {{ background }}">
    {% include 'section-title' title: 'Workshops' action: 'Learn more' link:
    '/workshops' background: '{{ background }}' %}
    <div class="grid">
        <div class="workshopPlaceholder">
            <img src="./images/workshop.jpg" />
        </div>
        <div class="workshopPanel">
            <div class="workshopPanelContent">
                <div>
                    <p class="textLarge">
                        Introductory workshop to 80’s Brother knitting machines
                        :
                    </p>
                    <p class="textLarge">
                        Learn the basics while manufacturing a scarf knitted
                        with the color(s) of your choice.
                    </p>
                </div>
                <div class="buttonWorkshop">
                    <a href="/workshops">
                        <span class="callToActionText"
                            >Book your workshop {% include 'arrow-icon' %}</span
                        >
                    </a>
                </div>
            </div>
            <div class="workshopTabContainer">
                {% include 'tab' text: 'Open to beginner starting 15 years old'
                %} {% include 'tab' text: 'Maximum capacity: 1-2 people' %} {%
                include 'tab' text: 'Duration: 2h / 4h' %}
            </div>
        </div>
    </div>
</section>
