<div class="sectionHeader grid boxBorder {{ background }}">
    <div class="sectionTitleContainer">
        <h2>{{ title }}</h2>
    </div>
    <a class="buttonLink" href="{{link}}">
        <span class="callToActionText"
            >{{ action }}
           {% include 'arrow-icon' %}
           </span>
    </a>
</div>
