button {
    background: var(--primary);
    border: none;
    width: 100%;
    color: var(--light-010);
    text-transform: uppercase;
    cursor: pointer;
}

.buttonLink {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    padding: var(--marginS);
    border-left: var(--border-styles);

    @media (max-width: 768px) {
        border: none;
    }
}

.buttonWorkshop {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-transform: uppercase;
    font-weight: 500;

    @media (min-width: 768px) {
        &:hover {
            opacity: 0.75;
        }
    }
}

.buttonLink {
    & span {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--marginXS);

        & svg {
            fill: var(--primary);
        }
    }

    @media (min-width: 768px) {
        &:hover {
            color: var(--light-010);
            background: var(--light-001);

            & span > svg {
                fill: var(--light-010);
            }
        }
    }
}
