button {
  background: var(--primary);
  border: none;
  width: 100%;
  color: var(--light-010);
  text-transform: uppercase;
  cursor: pointer;
}

.buttonLink {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  padding: var(--marginS);
  padding-right: var(--marginM);
  border-left: var(--border-styles);

  @media (max-width: 768px) {
    border: none;
  }
}

.buttonLink {
  & span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--marginXS);

    & svg {
      fill: var(--primary);
      transition: 200ms ease-in-out;
      transition-property: fill, transform;
      transition-delay: 0ms, 0ms;
    }
  }
  transition: 200ms ease-in-out;
  transition-property: background, color;

  @media (min-width: 768px) {
    &:hover {
      color: var(--light-010);
      background: var(--light-003);
      background: #00af54;
      background: #17b890;
      background: var(--danger);

      & span > svg {
        fill: var(--light-010);
        transform: translateX(4px);
        transition-delay: 0ms, 75ms;
      }
    }
  }
}
