.cartSection {
  display: flex;
  flex-direction: column;
  margin-top: var(--marginXL);
}

.emptyCartSection {
  min-height: calc(100vh - 64px);
  margin-top: 0px;
}

.cartGroupMargin {
  padding: var(--marginM) 0;
}

.cartGroupWrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: var(--marginXS);
  padding: var(--marginS);
}

.cartGroupCheckout {
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
  background: var(--light-008);

  & button {
    width: 100%;
    height: calc(var(--marginXL) * 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--marginS);
    background: var(--light-001);
    transition: 150ms ease-in-out;
    transition-property: background;
    box-shadow: 2px 0 0 0 var(--border), 0 2px 0 0 var(--border),
      2px 2px 0 0 var(--border), 2px 0 0 0 var(--border) inset,
      0 2px 0 0 var(--border) inset;

    @media (min-width: 768px) {
      &:hover {
        background: var(--danger);
      }
    }

    & svg {
      fill: var(--light-010);
    }
  }
}
.cartGroupCheckout div {
  display: flex;
  gap: var(--marginS);
  padding: var(--marginS);
  margin-top: var(--marginXL);
}

.cartGroupCheckout div p,
.cartGroupCheckout div span {
  font-weight: 600;
}

.cartItems {
  font-size: 24px;
}

.cartProductPannel {
  width: 100%;
  display: flex;
  gap: var(--marginS);
  justify-content: space-between;
  transition: 100ms ease-in-out;
  transition-property: background;

  @media screen and (max-width: 425px) {
    flex-direction: column;
    gap: 0px;
  }

  @media screen and (min-width: 780px) {
    &:hover {
      background: var(--sable);
    }
  }
}

.cartProduct {
  display: grid;
  grid-template-columns: 180px 1fr;

  @media screen and (max-width: 425px) {
    grid-template-columns: 1fr;
  }
}

.cartProductImgPlaceholder {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 10;
    box-shadow: 2px 0 0 0 var(--border), 0 2px 0 0 var(--border),
      2px 2px 0 0 var(--border), 2px 0 0 0 var(--border) inset,
      0 2px 0 0 var(--border) inset;
    pointer-events: none;
  }

  @media screen and (max-width: 425px) {
    width: 100%;
    max-width: 100%;
    height: 25vh;
  }
}

.cartProductImg {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 /1;
  object-fit: cover;

  @media screen and (max-width: 425px) {
    width: 100%;
    max-width: 100%;
  }
}

.cartProductPannel .cartProductTitle {
  display: flex;
  flex-direction: column;
  gap: var(--marginXS);
}

.cartProductPannel .cartProductTitle .productName {
  font-weight: 600;
}

.cartProductPannel .cartProductTitle span > span {
  text-decoration: underline;
}

.cartProductDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--marginM);
  padding: var(--marginS);
}

.cartProductDetailsMargin {
  align-items: end;

  @media screen and (max-width: 425px) {
    align-items: start;
  }
}

.cartProductQuantity {
  display: flex;
  justify-content: start;
  align-items: center;
}

.cartProductQuantity .cartProductQuantityButton {
  width: 16px;
  height: 16px;
  color: var(--primary);
  background: var(--secondary600);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
}

.cartProductQuantity input {
  border: none;
  margin: 0px !important;
  padding: 0px !important;
  width: 16px;
  height: 16px;
  text-align: center;
  border-radius: 4px;
  color: var(--primary);
  font-weight: 500;
  background: var(--secondary600);
  pointer-events: none;
}

.cartProductQuantity input:focus {
  outline: 2px solid var(--primary);
}

.cartSubTotal {
  display: flex;
  flex-direction: column;
  gap: var(--marginXS);
}

.cartSubTotal p {
  text-decoration: underline;
}

.cartShopList {
  cursor: pointer;
}

.cartShopList a .cartShopLink {
  text-decoration: underline;
}

.cartShopList .cartShopArrow {
  position: absolute;
  opacity: 0;
  color: var(--danger);
  transform: translateX(-16px);
  transition: 100ms ease-in-out;
  transition-property: opacity, transform;
}
@media screen and (min-width: 768px) {
  .cartShopList:hover {
    color: var(--danger);
  }
  .cartShopList:hover > a {
    color: var(--danger);
  }
  .cartShopList:hover > .cartShopArrow {
    opacity: 1;
    transform: translateX(0px);
  }
}

.cartGroupEmpty {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px var(--marginM);
}

.removeActionContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: var(--marginXS);

  @media screen and (max-width: 425px) {
    display: none;
  }
}

.removeActionContainer p {
  font-size: 20px;
  transition: 200ms var(--animationStyle);
  transition-property: opacity;
}

.removeActionContainer .removeActionDetail {
  color: var(--danger);
  opacity: 0;
  transform: translateX(-8px);
  transition: 200ms var(--animationStyle);
  transition-property: opacity, transform;
}

.removeActionContainer:hover p {
  color: var(--danger);
}

.removeActionContainer:hover .removeActionDetail {
  opacity: 1;
  transform: translateX(0px);
}

.cartProductPrice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.cart-num-items {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: var(--secondary);
  background: var(--danger);
  padding: 4px;
  border-radius: 64px;
  transform: translateY(-2px);
}

.cartItemNotification {
  position: absolute;
  width: 12px;
  height: 12px;
  background: var(--danger);
  border-radius: 64px;
  margin-left: 16px;
  margin-bottom: 10px;
}
