.contactSection {
  z-index: 90;
  padding: var(--marginXL);
}
@media screen and (max-width: 768px) {
  .contactSection {
    padding: var(--marginM);
  }
}
.contactDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--marginS);
  margin-bottom: var(--marginL);
}
.contactDetailsContainer p {
  max-width: 50ch;
  margin: 0px;
}
.contactForm {
  display: grid;
  gap: var(--marginM);
  grid-template-columns: 1fr;
}
.contactForm .contactPannel {
  display: grid;
  gap: var(--marginM);
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 768px) {
  .contactForm .contactPannel {
    grid-template-columns: 1fr;
  }
}
.contactForm .messagePannel {
  display: grid;
  gap: var(--marginS);
  grid-template-columns: 1fr;
}
.contactForm .contactGroup {
  display: flex;
  flex-direction: column;
  gap: var(--marginXS);
}
.contactForm .contactGroup .sectionParagraph {
  margin: 0px;
}
.contactForm .contactGroup input {
  border: none;
  outline: none;
  padding: var(--marginS);
  border-radius: 4px;
  color: var(--primary);
  font-weight: 500;
  background: var(--secondary600);
}
.contactForm .contactGroup input:focus,
.contactForm .contactGroup textarea:focus {
  outline: 2px solid var(--danger);
}
.contactForm .contactGroup textarea {
  border: none;
  resize: none;
  width: 100%;
  height: 100%;
  min-height: 128px;
  max-height: 256px;
  color: var(--primary);
  font-weight: 500;
  line-height: 1.8;
  padding: var(--marginS);
  border-radius: 4px;
  overflow-y: scroll;
  background: var(--secondary600);
}
.contactForm .contactGroup button {
  background: var(--secondary);
  color: var(--primary);
}
.contactForm .contactGroup .contactCaptcha {
  margin-top: var(--marginS);
}
.sectionParagraphEmail {
  transition: color 100ms ease-in-out;
}
.sectionParagraphEmail:hover {
  color: var(--danger);
}
