footer {
  position: relative;
  width: 100%;
  background: var(--primary900);

  & .footerPanel {
    width: 100%;
    padding: var(--marginL) var(--marginS);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--marginM);
  }
}

.footerContactPannel a {
  width: max-content;
  font-weight: 500;
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  gap: 4px;
  transition: color 100ms ease-in-out;
}
.footerContactPannel a .footerContactMail {
  text-decoration: underline;
}
.footerContactPannel a:hover {
  color: var(--danger);
}
.footerNav {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4px;
}
.footerNav li > a {
  font-weight: 500;
  color: var(--secondary);
  transition: color 100ms ease-in-out;
}
.footerNav li > a:hover {
  color: var(--danger);
}

.footerLegal {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: var(--marginS);
  padding-bottom: var(--marginXL);
  border-top: var(--border-styles);

  & p {
    padding: 0px var(--marginS);
    text-transform: uppercase;
  }
}
