footer {
  position: relative;
  width: 100%;
  background: var(--primary900);
}

.footerContactPannel {
  padding: var(--marginXS) var(--marginS);

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 10;
    border: var(--border-styles);
    pointer-events: none;
  }

  @media screen and (max-width: 768px) {
    padding: var(--marginS);
  }
}

.footerContactPannel a {
  width: max-content;
  font-weight: 500;
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  gap: 4px;
  transition: color 100ms ease-in-out;
}

.footerContactPannel a .footerContactMail {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .footerContactPannel a:hover {
    color: var(--danger);
  }
}

.footerNav {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footerNav li > a {
  display: flex;
  width: 100%;
  height: 100%;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--secondary);
  padding: var(--marginXS) var(--marginS);

  @media screen and (max-width: 768px) {
    padding: var(--marginS);
  }
}

@media screen and (min-width: 768px) {
  .footerNav li:hover {
    color: var(--light-010);
    background: var(--light-001);
  }
}

.footerLegal {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: var(--marginS);
  padding-bottom: var(--marginXL);
  border-top: var(--border-styles);

  & p {
    padding: 0px var(--marginS);
    text-transform: uppercase;
  }
}
