header {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 2px);
  height: var(--headerHeight);
  background: var(--light-010);
  z-index: 99;
}

.header {
  transition: opacity 200ms ease-in-out;
}

.header-logo {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 16px;
  text-transform: uppercase;

  & a {
    padding-left: var(--marginS);
  }
}

nav {
  display: grid;
  grid-template-columns: 1fr 64px;

  @media screen and (max-width: 768px) {
    display: none !important;
  }
}

.nav-ul {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.nav-ul li {
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  transition: 100ms ease-in-out;
  transition-property: background, color;
}

.nav-ul li a {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: var(--marginS);
}

@media screen and (min-width: 768px) {
  .nav-ul li:hover {
    color: var(--light-010);
    background: var(--light-001);
  }
}

nav .selected {
  color: var(--light-010);
  background: var(--primary);
}
nav .selected svg {
  stroke: var(--light-010);
  background: var(--primary);
}

.navLink {
  position: relative;
}

nav div {
  height: 100%;
  width: var(--marginXL);
}

.cart-link-item {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  transition: 100ms ease-in-out;
  transition-property: background;
}

.cart-link-item svg {
  stroke: var(--primary);
  transition: 100ms ease-in-out;
  transition-property: stroke;
}

@media screen and (min-width: 768px) {
  .cart-link-item:hover {
    background: var(--light-001);
  }
  .cart-link-item:hover svg {
    stroke: var(--light-010);
  }
}

.navMobile {
  display: none;
}
.menuIcon {
  display: none;
  cursor: pointer;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeActive {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  header {
    display: flex !important;
    justify-content: space-between;
    align-items: center;

    & .header-logo {
      width: max-content;
    }
  }

  .menuIcon {
    display: block;
    margin-right: var(--marginS);
    color: var(--primary);
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    animation: fade 600ms alternate var(--animationStyle);
  }

  .navMobile {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    height: calc(100vh - 64px);
    background: var(--light-008);
    opacity: 0;
    pointer-events: none;
    transition: 200ms var(--animationStyle);
    transition-property: opacity;
    transition-delay: 150ms;
    z-index: -1;
    box-shadow: 2px 0 0 0 var(--border), 0 2px 0 0 var(--border),
      2px 2px 0 0 var(--border), 2px 0 0 0 var(--border) inset,
      0 2px 0 0 var(--border) inset;
  }
  .navMobileActive {
    display: block !important;

    pointer-events: auto;
    opacity: 1;
    transition-delay: 50ms;
  }

  .navMobileUl {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    & li {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      box-shadow: 2px 0 0 0 var(--border), 0 2px 0 0 var(--border),
        2px 2px 0 0 var(--border), 2px 0 0 0 var(--border) inset,
        0 2px 0 0 var(--border) inset;

      & a {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 24px;
        text-transform: uppercase;
        padding: 16px;
      }
    }

    & li:nth-child(1) {
      background: var(--light-008);
    }
    & li:nth-child(2) {
      background: var(--light-007);
    }
    & li:nth-child(3) {
      background: var(--light-006);
    }
    & li:nth-child(4) {
      background: var(--light-005);
    }
    & li:nth-child(5) {
      background: var(--light-004);
    }

    & li.selected {
      background: var(--primary);
    }
  }
}
