.productSection {
  display: grid;
  grid-template-columns: 2fr minmax(386px, 1fr);
  margin-top: var(--marginXL);
  height: calc(100vh - 66px);

  @media (max-width: 768px) {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  & .productImagesContainer {
    position: relative;
    width: 100%;
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: scroll;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;

    & .productImagePlaceholder {
      position: relative;
      z-index: 0;
      scroll-snap-align: start;
      height: calc(100vh - 64px);
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        box-shadow: 2px 0 0 0 var(--border), 0 2px 0 0 var(--border),
          2px 2px 0 0 var(--border), 2px 0 0 0 var(--border) inset,
          0 2px 0 0 var(--border) inset;
        pointer-events: none;
      }

      & img {
        width: 100%;
        height: calc(100vh - 64px);
        object-fit: cover;
      }
    }
  }

  & .productImagesContainer {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  & .productImagesContainer::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 768px) {
    & .productImagesContainer {
      display: flex;
      flex-direction: row;
      width: calc(100vw - 2px);
      height: calc(50vh - 64px - 2px);
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      box-shadow: 2px 0 0 0 var(--border), 0 2px 0 0 var(--border),
        2px 2px 0 0 var(--border), 2px 0 0 0 var(--border) inset,
        0 2px 0 0 var(--border) inset;

      & .productImagePlaceholder {
        height: 100%;
        width: calc(100vw - 2px);
        scroll-snap-align: start;

        & img {
          height: 100%;
          width: calc(100vw - 2px);
        }
      }
    }
  }
}

.productPanel {
  height: 100%;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    height: auto;
    justify-content: flex-end;
  }
}

.productContent {
  position: sticky;
  top: var(--marginXL);
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 768px) {
    position: relative;
    top: 0;
    min-height: auto;
    justify-content: flex-start;
  }

  & .productInfos {
    display: flex;
    flex-direction: column;
    padding: var(--marginS);
    min-height: 180px;
  }

  & h2 {
    text-transform: uppercase;
    margin-bottom: var(--marginS);
  }
}

.productRoutingContainer {
  display: flex;
  gap: var(--marginXS);
  margin-bottom: var(--marginS);

  & a,
  span {
    color: var(--light-005);
    text-transform: uppercase;
  }

  @media (min-width: 768px) {
    & a:hover {
      color: var(--danger);
    }
  }
}

.productDefaultPrice {
  margin-bottom: var(--marginM);

  & h5 {
    font-weight: 500;
  }
}

.productDescription {
  & .productDescriptionContent {
    display: flex;
    flex-direction: column;
    gap: var(--marginS);
    margin-bottom: var(--marginM);
  }

  & .productDescriptionTrigger {
    cursor: pointer;
    text-decoration: underline;
  }

  @media (min-width: 768px) {
    & span {
      display: none;
    }
  }
  @media (max-width: 768px) {
    & span {
      display: block;
    }
    & .productDescriptionContainer {
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows 200ms ease-out;
      transition-delay: 200ms;

      &.active {
        grid-template-rows: 1fr;
        transition-delay: 0ms;

        & div {
          opacity: 1;
          transition-delay: 200ms;
        }
      }
    }
    & .productDescriptionContent {
      margin-bottom: 0px;
      overflow: hidden;
      opacity: 0;
      transition: opacity 200ms ease-out;
      transition-delay: 0ms;
    }
  }
}

.productForm {
  & .productFormSelect {
    position: relative;
    width: 100%;
    height: var(--marginXL);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--light-008);
    padding: var(--marginS);
    box-shadow: 2px 0 0 0 var(--border), 0 2px 0 0 var(--border),
      2px 2px 0 0 var(--border), 2px 0 0 0 var(--border) inset,
      0 2px 0 0 var(--border) inset;

    & select {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      color: var(--primary);
      background: none;
      -moz-appearance: none;
      -webkit-appearance: none;

      &::-ms-expand {
        display: none;
      }
    }

    & svg {
      right: 16px;
      width: 24px;
      height: 24px;
      pointer-events: none;
      fill: none;
      stroke: var(--primary);

      stroke-width: 3px;
    }
  }

  & button {
    width: 100%;
    height: var(--marginXL);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--light-009);
    padding: var(--marginS);
    transition: 200ms ease-in-out;
    transition-property: background;

    & svg {
      fill: var(--light-009);
      transition: 200ms ease-in-out;
      transition-property: fill, transform;
      transition-delay: 0ms, 0ms;
    }

    &.disabledButton {
      background: #9fa3ae;
      cursor: not-allowed;
    }

    @media (min-width: 768px) {
      &:hover {
        background: var(--danger);

        & svg {
          transform: translateX(4px);
          transition-delay: 0ms, 75ms;
        }

        &.disabledButton {
          background: #9fa3ae;
        }
      }
    }
  }
}

#fullscreenModal {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  pointer-events: none;
  background-color: rgba(8, 6, 24, 0.25);

  & .fullScreenPlaceholder {
    width: 100vw;
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    background-color: rgba(8, 6, 24, 0.75);

    & img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

#fullscreenModal.active {
  opacity: 1;
  pointer-events: auto;
}

#closeModal {
  position: absolute;
  top: 0px;
  right: 2px;
  width: calc(100vw - 2px);
  height: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;

  & span {
    width: 64px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--primary);
    background-color: var(--danger);
    padding: 16px;
  }
}
