.productsSection {
  padding-left: var(--marginM);
  padding-right: var(--marginM);
  padding-bottom: var(--marginL);
}
.productsSection ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: var(--marginM);
}
@media screen and (max-width: 768px) {
  .productsSection ul {
    grid-template-columns: 1fr;
  }
}
.productsSection ul li {
  display: flex;
  flex-direction: column;
  gap: var(--marginS);
  margin-bottom: var(--marginM);
}
.productsSection ul li > a {
  display: flex;
  flex-direction: column;
}
.productsSection ul li > a > div {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
}
.productsSection ul li > a > div button {
  position: absolute;
  z-index: 10;
  opacity: 0;
}
.productsSection ul li > a > div::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--primary);
  opacity: 0;
  z-index: 9;
  pointer-events: none;
}
.productsSection ul li > a > div button,
.productsSection ul li > a > div::after {
  transition: opacity 300ms var(--animationStyle);
}
@media screen and (min-width: 768px) {
  .productsSection ul li > a > div:hover::after {
    opacity: 0.25;
  }
  .productsSection ul li > a > div:hover button {
    opacity: 1;
  }
  .productsSection ul li > a > div:hover img {
    transform: scale(1.05);
  }
}
.productsSection ul li > a > div > img {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 4px;
  object-fit: cover;
  transition: transform 300ms var(--animationStyle);
}
.productsSection .pagination {
  padding-top: var(--marginM);
  display: flex;
}
.productsSection .pagination a,
.productsSection .pagination span {
  position: relative;
  padding: 16px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.productsSection .pagination .previous,
.productsSection .pagination .next {
  width: max-content;
  height: 16px;
}
.productsSection .pagination .current {
  color: var(--secondary);
  background: var(--danger);
}
.productDetailContainer {
  display: flex;
  flex-direction: column;
  gap: var(--marginXS);
}
.productDetailContainer b {
  font-size: 24px;
  font-weight: 500;
}
.category_list {
  padding-left: var(--marginM);
  padding-right: var(--marginM);
  margin-bottom: var(--marginM);
}
.category_list ul {
  display: grid;
  gap: var(--marginS);
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.category_list ul > li > a {
  width: 100%;
}
.category_list ul .categoryButton {
  width: 100%;
  background: var(--secondary600);
  color: var(--primary);
  transition: 200ms ease-in-out;
  transition-property: background, color;
}
@media screen and (min-width: 768px) {
  .category_list ul .categoryButton:hover {
    background: var(--primary700);
    color: var(--secondary);
  }
}
.category_list ul .currentCategory {
  background: var(--primary);
  color: var(--secondary);
}

.pagination > .disabled {
  opacity: 0.25;
}
