.featuredProducts {
  width: 100%;
  height: 100%;
}

.featuredPlaceholder {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 128px);

  @media (max-width: 768px) {
    height: calc(100vh - 64px);
    max-height: calc(100vh - 64px);
  }
  @media (max-width: 425px) {
    height: 50vh;
    width: 100%;
  }
}

.featuredFirst {
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.featuredNext {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.featuredFirst,
.featuredNext {
  position: relative;

  & .placeHolderBorder {
    position: absolute;
    inset: 0;
    box-shadow: 2px 0 0 0 var(--border), 0 2px 0 0 var(--border),
      2px 2px 0 0 var(--border), 2px 0 0 0 var(--border) inset,
      0 2px 0 0 var(--border) inset;
  }
}

.featuredPlaceholderNext {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: calc((100vh - 128px) / 2);

  @media (max-width: 768px) {
    height: calc(100vh - 64px);
    max-height: calc(100vh - 64px);
  }
  @media (max-width: 425px) {
    height: 50vh;
    width: 100%;
  }
}

.featuredPlaceholder,
.featuredPlaceholderNext {
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--primary);
    mix-blend-mode: hue;
    opacity: 0;
    z-index: 0;
    transition: 200ms ease-in-out;
    transition-property: opacity;
  }
}

.featuredNext {
  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.featuredName {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background: var(--light-010);
  transition: 200ms ease-in-out;
  transition-property: background, color;
  transition-delay: 0ms;
  z-index: 1;
}

.featuredLink {
  @media (min-width: 768px) {
    &:hover .featuredName {
      color: var(--light-010);
      background-color: var(--light-005);
      transition-delay: 80ms;
    }
    &:hover .featuredPlaceholder {
      &::after {
        opacity: 1;
      }
    }
    &:hover .featuredPlaceholderNext {
      &::after {
        opacity: 1;
      }
    }
  }
}
