.featuredProducts {
  width: 100%;
  height: 100%;
}

.featuredPlaceholder {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 128px);
  border: var(--border-styles);
  border-top: none;
  border-right: none;

  @media (max-width: 768px) {
    height: calc(100vh - 64px);
    max-height: calc(100vh - 64px);
    border-top: none;
    border: var(--border-styles);
  }
  @media (max-width: 425px) {
    height: 50vh;
    width: 100%;
  }
}

.featuredFirst {
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.featuredNext {
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-right: var(--border-styles);
}

.featuredPlaceholderNext {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: calc((100vh - 128px) / 2);
  border: var(--border-styles);
  border-top: none;
  border-right: none;

  @media (max-width: 768px) {
    height: calc(100vh - 64px);
    max-height: calc(100vh - 64px);
  }
  @media (max-width: 425px) {
    height: 50vh;
    width: 100%;
  }
}

.featuredNext {
  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.featuredName {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background: var(--light-010);
  border-top: var(--border-styles);
  transition: 100ms ease-in-out;
  transition-property: background, color;
}

.featuredLink {
  @media (min-width: 768px) {
    &:hover .featuredName {
      color: var(--light-010);
      background-color: var(--light-003);
    }
  }
}
