.sectionHeader {
  height: 128px;

  @media (max-width: 768px) {
    height: auto;
  }
}

.bgLight {
  background: var(--light-010);
  color: var(--primary);
}

.bgLight a span svg {
  fill: var(--primary);
}

.bgPrimary {
  background: var(--primary);
  color: var(--light-010);
}

.bgPrimary a span svg {
  fill: var(--light-010);
}

.sectionTitleContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  text-transform: uppercase;
  padding: var(--marginS);
}
