.sectionInstagram {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25vw;
  overflow-x: hidden;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: 2px 0 0 0 var(--border), 0 2px 0 0 var(--border),
      2px 2px 0 0 var(--border), 2px 0 0 0 var(--border) inset,
      0 2px 0 0 var(--border) inset;
    pointer-events: none;
  }
}

@keyframes instagramSlide {
  0% {
    transform: translateX(0vw);
  }

  100% {
    transform: translateX(100vw);
  }
}

.instagramContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: instagramSlide 40000ms infinite linear;

  &:hover {
    animation-play-state: paused;
  }

  & .instagramPlaceholder {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      box-shadow: 2px 0 0 0 var(--border), 0 2px 0 0 var(--border),
        2px 2px 0 0 var(--border), 2px 0 0 0 var(--border) inset,
        0 2px 0 0 var(--border) inset;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: var(--primary);
      mix-blend-mode: hue;
      opacity: 0;
      transition: opacity 250ms ease-in-out;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }

  // & img,
  // & div {
  //   border: var(--border-styles);
  //   border-top: 0px;
  //   border-right: 0px;
  // }
  // & > :last-child {
  //   border-right: var(--border-styles);
  // }

  & img,
  & div {
    width: 25vw;
    aspect-ratio: 1 / 1;
  }

  & img {
    display: block;
    object-fit: cover;
  }

  & div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--light-009);
    transition: background 150ms ease-in-out;

    & span {
      font-weight: 500;
      text-transform: uppercase;
      transition: color 150ms ease-in-out;
      transition-delay: 0ms;
    }

    &:hover {
      background: var(--primary);

      & span {
        color: var(--light-009);
        transition-delay: 150ms;
      }
    }
  }
}
