.tabContainer {
  width: 100%;
  min-height: var(--marginXL);
  display: flex;
  justify-content: start;
  align-items: center;
  color: var(--primary);
  background: var(--light-007);

  & p {
    font-weight: 500;
    padding: var(--marginS) var(--marginM);

    @media (max-width: 425px) {
      padding: var(--marginS);
    }
  }
}
