/* TYPEFACES */
h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 100%;

    @media (max-width: 425px) {
        font-size: 32px;
        font-weight: 400;
        line-height: 110%;
    }
}

h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 110%;

    @media (max-width: 425px) {
        font-size: 24px;
        font-weight: 500;
        line-height: 120%;
    }
}

h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;

    @media (max-width: 425px) {
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
    }
}

.textLarge {
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;

    @media (max-width: 425px) {
        font-size: 20px;
        font-weight: 500;
        line-height: 140%;
    }
    @media (max-width: 375px) {
        font-size: 16px;
        font-weight: 500;
        line-height: 140%;
    }
}

.callToActionText {
    text-transform: uppercase;
}

.smallText {
    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
}
