<section class="section">
  <div class="contactSection grid boxBorder">
    <form method="post" action="/contact" class="contactForm">
      <div class="contactGroup boxBorder">
        <label for="name" class="contactLabel boxBorder">Name</label>
        {{ contact | contact_input: 'name' placeholder_input: 'name' }}
      </div>
      <div class="contactGroup boxBorder">
        <label for="email" class="contactLabel boxBorder">Email</label>
        {{ contact | contact_input: 'email' }}
      </div>
      <div class="contactGroup boxBorder">
        <label for="subject" class="contactLabel boxBorder">Subject</label>
        {{ contact | contact_input: 'subject' }}
      </div>
      <div class="contactMessageGroup boxBorder">
        <label for="message" class="contactMessageLabel boxBorder"
          >Message</label
        >
        {{ contact | contact_input: 'message' }}
      </div>
      {% if contact.sent %}
      <div>
        <p>Your message has been sent and we&#8217;ll get back to you soon.</p>
      </div>
      {% else %}
      <button
        type="submit"
        name="submit"
        title="Send us an email"
        class="boxBorder"
      >
        <span>Send me a message !</span> {% include 'arrow-icon' %}
      </button>
      {% endif %}
      <!-- <p class="contactCaptcha">* {{ contact.recaptcha }}</p> -->
    </form>
    <div class="contactDetailsContainer boxBorder">
      <h2>Seconde Maille</h2>
      <p>
        If you're interested in learning more about the Seconde Maille studio or
        if you're simply curious about my work and potential collaboration
        opportunities, please feel free to reach out at:
        <br />
        <a
          class="sectionParagraphEmail"
          href="mailto:hello@studiosecondemaille.com"
          >hello@studiosecondemaille.com</a
        >.
      </p>
      <p>I am looking forward to meet you and chat about textiles!</p>
      <p>
        Looking for me? Please vist our shop 'Atelier Filet Mignon' in the heart
        of the lovely Saint-Michel neighborhood in Bordeaux.
      </p>
    </div>
  </div>
</section>
