<!-- HERO -->
<section class="section hero grid">
  <div class="heroPlaceholder">
    <div class="boxBorder"></div>
    <img src="./images/heroImg.png" />
  </div>
  <div class="heroPanel boxBorder">
    <div class="heroFirstPanel">
      <div class="heroPanelStart">
        <h1 class="heroFirstItem">seconde</h1>
      </div>
      <div class="heroPanelEnd">
        <h1 class="heroSecondItem">maille</h1>
      </div>
    </div>
    <div class="heroSecondPanel">
      <div class="heroPanelStart">
        <h1 class="heroThirdItem">knits</h1>
      </div>
      <div class="heroPanelCenter">
        <h1 class="heroFourthItem">upcycled</h1>
      </div>
    </div>
    <div class="heroThirdPanel">
      <div class="heroPanelEnd">
        <h1 class="heroFifthItem">deadstock</h1>
      </div>
      <div class="heroPanelStart">
        <h1 class="heroSixthItem">yarns.</h1>
      </div>
    </div>
  </div>
</section>

<!-- FEATURED SECTION -->
<section class="section">
  <!-- SECTION HEADING -->
  <div class="sectionHeader grid boxBorder bgLight">
    <div class="sectionTitleContainer">
      <h2>Shop</h2>
    </div>
    <a class="buttonLink" href="/products">
      <span class="callToActionText"
        >View All
        <svg
          width="12"
          height="12"
          viewBox="0 0 12 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 10.9219L11.9903 1.09766C11.9903 0.541016 11.6289 0.150391 11.043 0.150391H1.21875C0.671871 0.150391 0.300781 0.570313 0.300781 1.03906C0.300781 1.50781 0.720701 1.9082 1.17969 1.9082H4.57812L9.34377 1.75195L7.52734 3.34375L0.583986 10.1828C0.408204 10.3586 0.310548 10.5832 0.310548 10.7981C0.310548 11.2668 0.73047 11.7063 1.21875 11.7063C1.44336 11.7063 1.65821 11.6281 1.83399 11.4426L8.79688 4.61328L10.4082 2.78711L10.2324 7.34765V10.9609C10.2324 11.4199 10.6328 11.8496 11.1114 11.8496C11.5801 11.8496 12 11.4492 12 10.9219Z"
          /></svg
      ></span>
    </a>
  </div>

  <div class="section grid">
    <div class="featuredMainItem">
      {% for product in categories.featured.products limit: 1 %}
      <a href="/product/{{ product.permalink }}" class="featuredItemLink">
        <div class="placeholderBorder"></div>
        <img src="{{ product.image | product_image_url }}" loading="lazy" />
        <div class="featuredItemName boxBorder">
          <h3>{{ product.name }}</h3>
        </div>
      </a>
      {% endfor %}
    </div>
    <div class="featuredSecondaryItems boxBorder">
      {% for product in categories.featured.products offset: 1 limit: 2 %}
      <a href="/product/{{ product.permalink }}" class="featuredItemLink">
        <div class="placeholderBorder"></div>
        <img src="{{ product.image | product_image_url }}" loading="lazy" />
        <div class="featuredItemName boxBorder">
          <h3>{{ product.name }}</h3>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</section>

<!-- WORKSHOPS SECTION -->
<section class="section">
  <!-- SECTION HEADING -->
  <div class="sectionHeader grid boxBorder bgPrimary">
    <div class="sectionTitleContainer">
      <h2>Workshops</h2>
    </div>
    <a class="buttonLink" href="/products">
      <span class="callToActionText"
        >Learn more
        <svg
          width="12"
          height="12"
          viewBox="0 0 12 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 10.9219L11.9903 1.09766C11.9903 0.541016 11.6289 0.150391 11.043 0.150391H1.21875C0.671871 0.150391 0.300781 0.570313 0.300781 1.03906C0.300781 1.50781 0.720701 1.9082 1.17969 1.9082H4.57812L9.34377 1.75195L7.52734 3.34375L0.583986 10.1828C0.408204 10.3586 0.310548 10.5832 0.310548 10.7981C0.310548 11.2668 0.73047 11.7063 1.21875 11.7063C1.44336 11.7063 1.65821 11.6281 1.83399 11.4426L8.79688 4.61328L10.4082 2.78711L10.2324 7.34765V10.9609C10.2324 11.4199 10.6328 11.8496 11.1114 11.8496C11.5801 11.8496 12 11.4492 12 10.9219Z"
          /></svg
      ></span>
    </a>
  </div>

  <div class="grid">
    <div class="workshopPlaceholder">
      <div class="boxBorder"></div>
      <img src="./images/workshop.jpg" />
    </div>
    <div class="workshopPanel boxBorder">
      <div class="workshopPanelContent">
        <div>
          <p class="textLarge">
            Introductory workshop to 80’s Brother knitting machines :
          </p>
          <p class="textLarge">
            Learn the basics while manufacturing a scarf knitted with the
            color(s) of your choice.
          </p>
        </div>
      </div>
      <div class="workshopTabContainer">
        <!-- TAB -->
        <div class="tabContainer boxBorder">
          <p>Open to beginner starting 15 years old</p>
        </div>
        <!-- TAB -->
        <div class="tabContainer boxBorder">
          <p>Maximum capacity: 1-2 people</p>
        </div>
        <!-- TAB -->
        <div class="tabContainer boxBorder">
          <p>Duration: 2h / 4h</p>
        </div>
        <!-- BUTTON -->
        <div class="buttonWorkshop boxBorder">
          <a
            href="https://wecandoo.fr/atelier/bordeaux-heloise-echarpe"
            target="_blank"
            rel="noopener noreferrer"
          >
            <span class="callToActionText"
              >Book your workshop
              <svg
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 10.9219L11.9903 1.09766C11.9903 0.541016 11.6289 0.150391 11.043 0.150391H1.21875C0.671871 0.150391 0.300781 0.570313 0.300781 1.03906C0.300781 1.50781 0.720701 1.9082 1.17969 1.9082H4.57812L9.34377 1.75195L7.52734 3.34375L0.583986 10.1828C0.408204 10.3586 0.310548 10.5832 0.310548 10.7981C0.310548 11.2668 0.73047 11.7063 1.21875 11.7063C1.44336 11.7063 1.65821 11.6281 1.83399 11.4426L8.79688 4.61328L10.4082 2.78711L10.2324 7.34765V10.9609C10.2324 11.4199 10.6328 11.8496 11.1114 11.8496C11.5801 11.8496 12 11.4492 12 10.9219Z"
                />
              </svg>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- INSTAGRAM SECTION -->
<section class="section boxBorder">
  <!-- SECTION HEADING -->
  <div class="sectionHeader grid boxBorder">
    <div class="sectionTitleContainer">
      <h2>JOIN ME ON SOCIAL MEDIAS :&#41;</h2>
    </div>
    <a
      class="buttonLink"
      href="https://www.instagram.com/secondemaille/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="callToActionText"
        >Instagram
        <svg
          width="12"
          height="12"
          viewBox="0 0 12 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 10.9219L11.9903 1.09766C11.9903 0.541016 11.6289 0.150391 11.043 0.150391H1.21875C0.671871 0.150391 0.300781 0.570313 0.300781 1.03906C0.300781 1.50781 0.720701 1.9082 1.17969 1.9082H4.57812L9.34377 1.75195L7.52734 3.34375L0.583986 10.1828C0.408204 10.3586 0.310548 10.5832 0.310548 10.7981C0.310548 11.2668 0.73047 11.7063 1.21875 11.7063C1.44336 11.7063 1.65821 11.6281 1.83399 11.4426L8.79688 4.61328L10.4082 2.78711L10.2324 7.34765V10.9609C10.2324 11.4199 10.6328 11.8496 11.1114 11.8496C11.5801 11.8496 12 11.4492 12 10.9219Z"
          /></svg
      ></span>
    </a>
  </div>
  <div class="sectionInstagram">
    <div class="instagramContainer">
      <a
        href="https://www.instagram.com/secondemaille/"
        target="_blank"
        rel="noopener noreferrer"
        class="instagramPlaceholder"
      >
        <img
          src="https://scontent.cdninstagram.com/v/t39.30808-6/382980107_18197019778281320_6796452834489558726_n.jpg?stp=dst-jpg_e15&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi4xNDQweDE0NDAuc2RyIn0&_nc_ht=scontent.cdninstagram.com&_nc_cat=108&_nc_ohc=-xP_2kk7gH0AX-9QBZa&edm=APs17CUAAAAA&ccb=7-5&ig_cache_key=MzIwMDg4MTM4OTQ1NTU3ODIwMA%3D%3D.2-ccb7-5&oh=00_AfCc95a6whAQeAMkG-SdPE30b7Mh3kd3zQYuWYSaEs1ouQ&oe=65E2378B&_nc_sid=10d13b"
        />
      </a>
      <a
        href="https://www.instagram.com/secondemaille/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div>
          <span class="textLarge">Follow</span>
        </div>
      </a>

      <a
        href="https://www.instagram.com/secondemaille/"
        target="_blank"
        rel="noopener noreferrer"
        class="instagramPlaceholder"
      >
        <img
          src="https://scontent.cdninstagram.com/v/t39.30808-6/382980107_18197019778281320_6796452834489558726_n.jpg?stp=dst-jpg_e15&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi4xNDQweDE0NDAuc2RyIn0&_nc_ht=scontent.cdninstagram.com&_nc_cat=108&_nc_ohc=-xP_2kk7gH0AX-9QBZa&edm=APs17CUAAAAA&ccb=7-5&ig_cache_key=MzIwMDg4MTM4OTQ1NTU3ODIwMA%3D%3D.2-ccb7-5&oh=00_AfCc95a6whAQeAMkG-SdPE30b7Mh3kd3zQYuWYSaEs1ouQ&oe=65E2378B&_nc_sid=10d13b"
        />
      </a>
      <a
        href="https://www.instagram.com/secondemaille/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div>
          <span class="textLarge">@secondemaille</span>
        </div>
      </a>
      <a
        href="https://www.instagram.com/secondemaille/"
        target="_blank"
        rel="noopener noreferrer"
        class="instagramPlaceholder"
      >
        <img
          src="https://scontent.cdninstagram.com/v/t39.30808-6/382980107_18197019778281320_6796452834489558726_n.jpg?stp=dst-jpg_e15&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi4xNDQweDE0NDAuc2RyIn0&_nc_ht=scontent.cdninstagram.com&_nc_cat=108&_nc_ohc=-xP_2kk7gH0AX-9QBZa&edm=APs17CUAAAAA&ccb=7-5&ig_cache_key=MzIwMDg4MTM4OTQ1NTU3ODIwMA%3D%3D.2-ccb7-5&oh=00_AfCc95a6whAQeAMkG-SdPE30b7Mh3kd3zQYuWYSaEs1ouQ&oe=65E2378B&_nc_sid=10d13b"
        />
      </a>
      <a
        href="https://www.instagram.com/secondemaille/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div>
          <span class="textLarge">Follow</span>
        </div>
      </a>

      <a
        href="https://www.instagram.com/secondemaille/"
        target="_blank"
        rel="noopener noreferrer"
        class="instagramPlaceholder"
      >
        <img
          src="https://scontent.cdninstagram.com/v/t39.30808-6/382980107_18197019778281320_6796452834489558726_n.jpg?stp=dst-jpg_e15&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi4xNDQweDE0NDAuc2RyIn0&_nc_ht=scontent.cdninstagram.com&_nc_cat=108&_nc_ohc=-xP_2kk7gH0AX-9QBZa&edm=APs17CUAAAAA&ccb=7-5&ig_cache_key=MzIwMDg4MTM4OTQ1NTU3ODIwMA%3D%3D.2-ccb7-5&oh=00_AfCc95a6whAQeAMkG-SdPE30b7Mh3kd3zQYuWYSaEs1ouQ&oe=65E2378B&_nc_sid=10d13b"
        />
      </a>
      <a
        href="https://www.instagram.com/secondemaille/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div>
          <span class="textLarge">@secondemaille</span>
        </div>
      </a>
      <a
        href="https://www.instagram.com/secondemaille/"
        target="_blank"
        rel="noopener noreferrer"
        class="instagramPlaceholder"
      >
        <img
          src="https://scontent.cdninstagram.com/v/t39.30808-6/382980107_18197019778281320_6796452834489558726_n.jpg?stp=dst-jpg_e15&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi4xNDQweDE0NDAuc2RyIn0&_nc_ht=scontent.cdninstagram.com&_nc_cat=108&_nc_ohc=-xP_2kk7gH0AX-9QBZa&edm=APs17CUAAAAA&ccb=7-5&ig_cache_key=MzIwMDg4MTM4OTQ1NTU3ODIwMA%3D%3D.2-ccb7-5&oh=00_AfCc95a6whAQeAMkG-SdPE30b7Mh3kd3zQYuWYSaEs1ouQ&oe=65E2378B&_nc_sid=10d13b"
        />
      </a>
      <a
        href="https://www.instagram.com/secondemaille/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div>
          <span class="textLarge">Follow</span>
        </div>
      </a>
      <a
        href="https://www.instagram.com/secondemaille/"
        target="_blank"
        rel="noopener noreferrer"
        class="instagramPlaceholder"
      >
        <img
          src="https://scontent.cdninstagram.com/v/t39.30808-6/382980107_18197019778281320_6796452834489558726_n.jpg?stp=dst-jpg_e15&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi4xNDQweDE0NDAuc2RyIn0&_nc_ht=scontent.cdninstagram.com&_nc_cat=108&_nc_ohc=-xP_2kk7gH0AX-9QBZa&edm=APs17CUAAAAA&ccb=7-5&ig_cache_key=MzIwMDg4MTM4OTQ1NTU3ODIwMA%3D%3D.2-ccb7-5&oh=00_AfCc95a6whAQeAMkG-SdPE30b7Mh3kd3zQYuWYSaEs1ouQ&oe=65E2378B&_nc_sid=10d13b"
        />
      </a>
      <a
        href="https://www.instagram.com/secondemaille/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div>
          <span class="textLarge">@secondemaille</span>
        </div>
      </a>
    </div>
  </div>
</section>
