<!-- HERO -->
{% include 'hero' %}

<!-- FEATURED SECTION -->
{% include 'section-featured' background: 'bgLight'%}

<!-- WORKSHOPS SECTION -->
{% include 'section-workshops' background: 'bgPrimary' %}


<!-- <section class="section sectionSecondary">
  <h2 class="sectionTitleSans">Workshops</h2>
  <h3 class="sectionSubtitle">
    Introductory workshop to 80’s Brother knitting machines
  </h3>
  <p class="sectionParagraph">
    Learn the basics while manufacturing a scarf, knitted with the color of your
    choice.
  </p>
  <div class="categoryContainer">
    <span class="categoryButton"
      ><a>Open to beginner starting 15 years old</a></span
    >
    <span class="categoryButton"><a>Maximum capacity: 1-2 people</a></span>
    <span class="categoryButton"><a>Duration: 2h / 4h</a></span>
  </div>

  <div class="featuredSection">
    <a href="/workshops" class="featuredItem">
      <div class="featuredTitleContainer">
        <h3 class="featuredTitle">Scarf Workshop</h3>
        <button>Book Now</button>
      </div>
      <img src="./images/workshop.jpg" loading="lazy" />
    </a>
  </div>
</section> -->

<!-- INSTAGRAM SECTION -->

<!-- <section class="sectionInstagram">
  <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
  <iframe
    src="https://cdn.lightwidget.com/widgets/cf0675eedd005a3eb561742d4404c640.html"
    scrolling="no"
    allowtransparency="true"
    class="lightwidget-widget"
    style="width: 100%; border: 0; overflow: hidden"
  ></iframe>
</section> -->
