<!-- HERO -->
{% include 'hero' %}

<!-- FEATURED SECTION -->
{% include 'section-featured' background: 'bgLight'%}

<!-- WORKSHOPS SECTION -->
{% include 'section-workshops' background: 'bgPrimary' %}

<!-- INSTAGRAM SECTION -->
{% include 'section-instagram' background: 'bgLight' %}

<!-- <section class="sectionInstagram">
  <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
  <iframe
    src="https://cdn.lightwidget.com/widgets/cf0675eedd005a3eb561742d4404c640.html"
    scrolling="no"
    allowtransparency="true"
    class="lightwidget-widget"
    style="width: 100%; border: 0; overflow: hidden"
  ></iframe>
</section> -->
