<section class="product_images section productSection">

  <div class="productImagesContainer ">
    {% for image in product.images %}
      <div class="productImagePlaceholder">
        <img
          class="lazy primary_image "
          src="{{ image | product_image_url }}"
          loading="lazy"
          alt="Image of {{ product.name | escape }}">
      </div>
    {% endfor %}
  </div>

  <aside class="productPanel boxBorder">

    <div class="productContent">
      {% comment %} container {% endcomment %}

      {% comment %} <div class="productRoutingContainer">
                                <a href="/products">Shop</a>
                                <span>/</span>
                                {% assign category_names = "" %}
                                {% for category in product.categories %}
                                  {% unless category.name == 'featured' %}
                                    {% if category_names == "" %}
                                      {% assign category_names = category.name | downcase %}
                                      {% break %}
                                    {% endif %}
                                  {% endunless %}
                                {% endfor %}
                                <a href="/category/{{ category_names | url_encode }}">
                                  {{ category_names }}
                                </a>
                        </div> {% endcomment %}
      <div class="productInfos">
        <h2>{{ product.name }}</h2>

        <div class="productDefaultPrice textLarge">
          {% case product.status %}
            {% when 'sold-out' %}
              <h5>{{ product.default_price | money_with_sign }}
                <em>Sold Out</em>
              </h5>

            {% when 'coming-soon' %}
              <h5>
                {{ product.default_price | money_with_sign }}
                <em>Coming Soon</em>
              </h5>

            {% when 'active' %}
              <h5>
                {{ product.default_price | money_with_sign }}
                {% if product.on_sale %}
                  <em>On Sale</em>
                {% endif %}
              </h5>
            </div>
            {% if product.description != blank %}
              <div class="productDescription">
                {{ product.description | paragraphs }}
              </div>
            {% endif %}
        {% endcase %}
      </div>

      <form
        method="post"
        action="/cart"
        class="productForm">
        {% if product.has_default_option %}
          {{ product.option | hidden_option_input }} {% else %}
          <div class="productFormSelect">{{ product.options_in_stock | options_select }}</div>
        {% endif %}
        <button
          name="submit"
          type="submit"
          title="Add to Cart"
          class="boxBorder">
          Add to Cart {% include 'arrow-icon' %}
        </button>
      </form>
    </div>


  </aside>
</section>