<section class="product_images section productSection">
  <div class="productImagesContainer">
    {% for image in product.images %}
    <div class="productImagePlaceholder">
      <img
        class="lazy primary_image"
        src="{{ image | product_image_url }}"
        loading="lazy"
        alt="Image of {{ product.name | escape }}"
      />
    </div>
    {% endfor %}
  </div>

  <aside class="productPanel boxBorder">
    <div class="productContent">
      <div class="productInfos">
        <div class="productRoutingContainer">
          {% assign categories = product.categories %}
          <!-- Assuming 'product.categories' is your array of CategoryDrop objects -->
          {% assign category_to_display = nil %} {% for category in categories
          %} {% if category.name != "featured" %} {% assign category_to_display
          = category %} {% break %}
          <!-- This stops the loop after finding the first non-featured category -->
          {% endif %} {% endfor %} {% if category_to_display != nil %}
          <a href="/products" id="product-link" class="productLink">Shop</a>
          <span class="productLink">/</span>
          <a
            href="/category/{{ category_to_display.name | downcase | url_encode }}"
            id="category-link"
            class="productLink"
          >
            {{ category_to_display.name | downcase }}
          </a>

          <!-- Outputs the name of the first non-featured category in lowercase -->
          {% else %} _ {% endif %}
        </div>

        <h2>{{ product.name }}</h2>

        <div class="productDefaultPrice textLarge">
          {% case product.status %} {% when 'sold-out' %}
          <h5>
            {{ product.default_price | money_with_sign }}
            <em>Sold Out</em>
          </h5>

          {% when 'coming-soon' %}
          <h5>
            {{ product.default_price | money_with_sign }}
            <em>Coming Soon</em>
          </h5>

          {% when 'active' %}
          <h5>
            {{ product.default_price | money_with_sign }} {% if product.on_sale
            %}
            <em>On Sale</em>
            {% endif %}
          </h5>
        </div>
        {% if product.description != blank %}
        <div class="productDescription">
          <span class="productDescriptionTrigger">Description</span>
          <div class="productDescriptionContainer">
            <div class="productDescriptionContent">
              {{ product.description | paragraphs }}
            </div>
          </div>
        </div>
        {% endif %} {% endcase %}
      </div>

      <form method="post" action="/cart" class="productForm">
        {% if product.has_default_option %} {{ product.option |
        hidden_option_input }} {% else %}
        <div class="productFormSelect">
          {{ product.options_in_stock | options_select }}
          <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <g>
              <line class="cls-1" x1="16" x2="7" y1="20.5" y2="11.5" />
              <line class="cls-1" x1="25" x2="16" y1="11.5" y2="20.5" />
            </g>
          </svg>
        </div>
        {% endif %}
        <button
          name="submit"
          type="submit"
          title="Add to Cart"
          class="boxBorder"
        >
          Add to Cart
          <svg
            width="12"
            height="12"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 10.9219L11.9903 1.09766C11.9903 0.541016 11.6289 0.150391 11.043 0.150391H1.21875C0.671871 0.150391 0.300781 0.570313 0.300781 1.03906C0.300781 1.50781 0.720701 1.9082 1.17969 1.9082H4.57812L9.34377 1.75195L7.52734 3.34375L0.583986 10.1828C0.408204 10.3586 0.310548 10.5832 0.310548 10.7981C0.310548 11.2668 0.73047 11.7063 1.21875 11.7063C1.44336 11.7063 1.65821 11.6281 1.83399 11.4426L8.79688 4.61328L10.4082 2.78711L10.2324 7.34765V10.9609C10.2324 11.4199 10.6328 11.8496 11.1114 11.8496C11.5801 11.8496 12 11.4492 12 10.9219Z"
            />
          </svg>
        </button>
      </form>
    </div>
  </aside>
</section>
